Checks: >
  *,
  -fuchsia-*,
  -google-runtime-references,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -llvm-include-order
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file 
